
@media (max-width: 923px) {
    .hambuger {
        display: block;
    }

    .button {
        display: none;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        padding: 0 2rem;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 60vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 100%;
        text-align: right;
        transition: 0.3s;
        background-color: #fdeaf3;
    }

    .nav-links {
        margin-top: -30px;
    }


    .nav-items {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

}